@import url('https://fonts.googleapis.com/css2?family=Alef&family=Archivo+Black&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alef', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 35px;

    background-color: #D8DBE2;
    background-color: #292523;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23202020' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23252525' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23202020' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23252525' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%232B2B2B' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%231a1a1a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%231e1e1e' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23222222' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%231e1e1e' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%231a1a1a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23222222' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%231a1a1a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23222222' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%231e1e1e' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23222222' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;

        .error-message {
            color: red;
        }

        .row {
            display: flex;
            width: 100%;
            gap: 10px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
        }

        .form-control {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        input[type="date"],
        input[type="tel"],
        input[type="email"],
        input[type="password"],
        input[type="text"] {
            padding: 10px 5px;
            outline: none;
        }

        input[type="submit"] {
            display: inline-block;
            outline: 0;
            border: 0;
            cursor: pointer;
            background: #000000;
            color: #FFFFFF;
            border-radius: 8px;
            border: 2px solid #000;
            padding: 14px 24px 16px;
            font-size: 18px;
            font-weight: 700;
            line-height: 1;
            transition: transform 200ms,background 200ms;
            &:focus,
            &:hover{
                transform: translateY(-2px);
                background-color: transparent;
                color: #000;
            }
        }
        
    }

    form,
    .profile-card {
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        background-color: #fff;
        
        width: 100%;
        max-width: 600px;
    }

    @media screen and (max-width: 768px) {
        form,
        .profile-card {
            width: 95% !important;
        }
    }
}

